/*-------reset------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif; }
  .body__info {
    background-color: black;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center; }
  .body__p {
    margin-bottom: 0rem;
    padding: 15px;
    font-size: 0.8rem; }

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #212529;
  padding: 0px; }
  .navbar .navbar-expand-lg.bg-body-tertiary {
    background-color: transparent !important; }
  .navbar .nav-link {
    --bs-nav-link-color: #fff; }
  .navbar .navbar-brand {
    color: #fff;
    font-size: 2rem;
    padding-right: 31rem; }
  .navbar .navbar-brand:hover {
    color: #821539; }
  .navbar .nav-link:hover {
    color: #821539; }
  .navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .show > .nav-link {
    color: #ff0d5d; }
  .navbar .navbar-toggler {
    color: #343a40;
    background-color: #b02a37;
    border: var(--bs-border-width) solid #000000; }

.header {
  width: 98.7vw;
  height: 100vh;
  background-image: url(../img/bannerp.jpg);
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden; }
  .header__content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center; }
  .header__h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px; }
  .header__h2 {
    font-size: 4vmin; }

/*-------------------Index/eventos---------------------*/
.section {
  width: 80%;
  margin: 80px auto; }
  .section__titulos {
    text-align: center;
    font-size: 4vmin;
    color: #667183;
    margin-bottom: 2rem;
    margin-top: 2rem; }
  .section__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px; }
  .section__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem; }
  .section__h4 {
    color: #667183;
    margin: 20px auto;
    font-size: 2rem;
    font-weight: bold; }
  .section__ph4 {
    color: #000000;
    padding: 1rem;
    font-size: 1rem; }

/*-----------------Funciones/ vistas-------------------*/
.contenedor__p {
  text-align: initial;
  padding: 2rem;
  font-weight: bolder; }

.banner__info {
  margin-bottom: 150px;
  color: whitesmoke;
  text-align: center; }

.banner__subtitulo {
  font-size: 4vmin; }

.banner__titulo {
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px; }

.titulos {
  text-align: center;
  font-size: 4vmin;
  color: #667183;
  margin-bottom: 2rem;
  margin-top: 2rem; }

.line {
  width: 150px;
  height: 4px;
  background: #ff0d5d;
  margin: 10px auto;
  border-radius: 5px; }

.btn__l {
  text-decoration: none;
  padding: 8px 15px;
  background: #ff0d5d;
  border-radius: 30px;
  color: whitesmoke; }

.responsive-img {
  width: 100%;
  height: auto; }

/*--------------ANIMACIONES-----------------*/
.tracking-in-contract {
  -webkit-animation: tracking-in-contract 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    letter-spacing: normal;
    opacity: 1; } }

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    letter-spacing: normal;
    opacity: 1; } }

/* ----------------------------------------*/
.focus-in-contract {
  -webkit-animation: focus-in-contract 1s 1s;
  animation: focus-in-contract 1s 1s; }

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

/*-----------------------footer-------------------------*/
.footer {
  font-size: 0.8rem;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 1px;
  margin-top: auto; }
  .footer__item {
    width: 20px;
    margin: 2px; }
  .footer__p {
    margin-top: 0px;
    margin-bottom: 1rem; }
  .footer__redes:hover {
    color: #ff0d5d; }

.main__actividades {
  font-family: 'Raleway', sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bolder;
  font-size: 1rem;
  color: black;
  overflow-x: hidden;
  width: 90%;
  margin: 80px auto; }

.section-actividades__titulos {
  text-align: center;
  font-size: 4vmin;
  color: #667183;
  margin-bottom: 2rem;
  margin-top: 2rem; }

.section-actividades__paseos-card {
  display: flex;
  justify-content: space-between; }

.section-actividades__resort-banner1 {
  width: 90vw;
  height: 110vh;
  background-image: url(../img/banner-nadar.jpg);
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

.section-actividades__resort-card {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem; }

.section-actividades__excursiones-banner1 {
  width: 90vw;
  height: 110vh;
  background-image: url(../img/banner_sendero.jpg);
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

.section-actividades__excursionescardr-item {
  margin-bottom: 2rem; }

.section-actividades__excursiones-card {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem; }

.main__aloja {
  font-family: 'Raleway', sans-serif;
  background-color: white;
  color: black;
  overflow-x: hidden;
  width: 90%;
  margin: 10px auto; }

.section-aloja__titulos {
  text-align: center;
  font-size: 4vmin;
  color: #667183;
  margin-bottom: 2rem;
  margin-top: 2rem; }

.section-aloja__banner1 {
  width: 90vw;
  height: 110vh;
  background-image: url(../img/bannerhotel2.jpg);
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

.section-aloja__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 257px;
  padding: 8px;
  padding-top: 6rem;
  gap: 5px; }

.section-aloja__gallery-item {
  position: relative; }

.section-aloja__gallery-title {
  position: absolute;
  bottom: 0;
  color: #fff;
  background: linear-gradient(348deg, black, transparent);
  width: 100%;
  margin: 0;
  padding: 10px; }

.section-aloja__gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.section-aloja__gallery-item:nth-child(4) {
  grid-column-start: span 2; }

.section-aloja__gallery-item:nth-child(9) {
  grid-column-start: span 3; }

.section-aloja__info {
  font-size: 1rem;
  background-color: #cfcbcb;
  border-radius: 3rem; }

.main__vuelos {
  font-family: 'Raleway', sans-serif;
  background-color: white;
  font-size: 1rem;
  text-align: center;
  font-weight: bolder;
  color: black;
  overflow: hidden;
  width: 90%;
  margin: 10px auto; }

.section-vuelos__titulos {
  text-align: center;
  font-size: 4vmin;
  color: #667183;
  margin-bottom: 2rem;
  margin-top: 2rem; }

.section-vuelos__banner1 {
  width: 90vw;
  height: 110vh;
  background-image: url(../img/vuelosbanner2.jpg);
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

.section-vuelos__card {
  display: flex;
  justify-content: space-evenly; }

.section-vuelos__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 257px;
  padding: 8px;
  padding-top: 6rem;
  gap: 5px; }

.section-vuelos__gallery-item {
  position: relative; }

.section-vuelos__gallery-title {
  position: absolute;
  bottom: 0;
  color: #fff;
  background: linear-gradient(348deg, black, transparent);
  width: 100%;
  margin: 0;
  padding: 10px; }

.section-vuelos__gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.section-vuelos__gallery-item:nth-child(4) {
  grid-column-start: span 2; }

.section-vuelos__gallery-item:nth-child(9) {
  grid-column-start: span 3; }

.section-vuelos__form {
  background: #000000e0;
  border: 5px black solid;
  width: -webkit-fill-available;
  display: inline-block; }

.section-vuelos__videos {
  padding: 10rem;
  padding-top: 1rem; }

.main__contactos {
  font-family: 'Raleway', sans-serif;
  background-image: url(../img/cont1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1rem;
  text-align: center;
  font-weight: bolder;
  color: #fff;
  overflow-x: hidden;
  padding: 2rem; }

.section-contactos__titulos {
  text-align: center;
  font-size: 4vmin;
  color: whitesmoke;
  margin-bottom: 2rem;
  margin-top: 2rem; }

.section-contactos__form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section-contactos__form__mb-3 {
    width: 400px; }

.section-contactos__maps {
  padding-top: 2rem;
  margin-bottom: 2rem; }

.section-contactos__consultas {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 3rem; }

.section-contactos__pregunta {
  color: #ff0d5d;
  font-weight: bolder;
  font-size: 2rem; }

.section-contactos__ul :hover {
  color: #ff0d5d; }

.section-contactos__ul {
  list-style: none;
  padding: 0; }

.section-contactos__li {
  text-decoration: none;
  color: white; }

/*-----------------------@MEDIAS/1025-----------------------*/
@media screen and (max-width: 1025px) {
  /*------------------------index-----------------------------*/
  .header {
    width: 100vw;
    height: 100vh; }
  .navbar-brand {
    color: #fff;
    font-size: 2rem;
    padding-right: 14rem; }
  /*------------------------Actividades-----------------------*/
  .section-actividades__resort {
    display: flex;
    justify-content: space-around;
    flex-direction: column; }
  .section-actividades__resortcardr-item {
    margin: 1rem; }
  .section-actividades__paseoscard-item {
    margin: 1rem; } }

/*-----------------------@MEDIAS/768-----------------------*/
@media screen and (max-width: 769px) {
  /*------------------------index-----------------------------*/
  .header {
    width: 100vw;
    height: 100vh;
    overflow: hidden; }
  .navbar-brand {
    color: #fff;
    font-size: 2rem;
    padding-right: 28rem; }
  .dropdown-menu.show {
    display: block;
    width: fit-content; }
  /*------------------------vuelo-----------------------------*/
  .section-vuelos__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .section-vuelos__form {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .calendario {
    padding: 4rem; }
  element.style {
    padding-bottom: 1rem; }
  .section-vuelos__card-destinos {
    margin-bottom: 5rem; } }

/*-----------------------@MEDIAS/425-----------------------*/
@media screen and (max-width: 426px) {
  /*--------------------media queries/index--------------------*/
  .section__item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    flex-direction: column; }
  .section__col {
    margin-bottom: 2rem; }
  .header {
    width: 100vw;
    height: 100vh;
    overflow: hidden; }
  .navbar-brand {
    color: #fff;
    font-size: 2rem;
    padding-right: 1rem; }
  .dropdown-menu.show {
    display: block;
    width: 100%;
    background: whitesmoke; }
  /*--------------------media queries/Actividades--------------*/
  .main__actividades {
    width: 90%;
    margin: 3px auto;
    font-size: 1rem; }
  .section-actividades__paseos-card {
    display: flex;
    margin-bottom: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .section-actividades__paseoscard-item {
    margin-bottom: 2rem; }
  .section-actividades__resort {
    display: flex;
    justify-content: space-around;
    flex-direction: column; }
  .banner__titulo {
    font-size: 6vmin;
    margin-top: 50px;
    margin-bottom: 30px; }
  .section-actividades__resort-card {
    display: flex;
    padding-bottom: 1rem;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center; }
  .section-actividades__resortcardr-item {
    margin-bottom: 2rem; }
  .section-actividades__excursiones-card {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
    flex-direction: column;
    align-items: center; }
  /*--------------------media queries/alojamiento--------------*/
  .section-aloja__info {
    font-size: 0.5rem;
    background-color: #cfcbcb;
    border-radius: 1rem; }
  .section-aloja__gallery-title {
    font-size: calc(1rem + .9vw); }
  .contenedor__p {
    text-align: justify;
    padding: 1rem; }
  /*--------------------media queries/vuelo--------------------*/
  .section-vuelos__videos {
    padding: 2rem;
    padding-top: 1rem; }
  .section-vuelos__form {
    margin-top: -7rem; }
  /*--------------------media queries/contactos----------------*/
  .section-contactos__h1 {
    margin: 2rem;
    padding: 1rem;
    font-size: 2rem; }
  .section-contactos__consultas {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding-top: 1rem;
    font-size: 0.7rem; }
  .img-fluid {
    max-width: 100%;
    height: 170px; }
  .section-contactos__form {
    width: 80%;
    max-width: 387px;
    margin: 0 auto; }
  .section-contactos__mb-3 {
    width: 361px;
    align-content: center;
    align-items: center; }
  .section-contactos__maps {
    padding: 1rem; } }

/*-----------------------@MEDIAS/320-----------------------*/
@media screen and (max-width: 321px) {
  /*------------------------index-----------------------------*/
  main {
    font-size: 0.5rem; }
  .header {
    width: 100vw;
    height: 80vh; }
  .banner__titulo {
    font-size: 5vmin;
    margin-top: 50px;
    margin-bottom: 30px; }
  /*------------------------Actividades-----------------------*/
  .main__actividades {
    width: 90%;
    margin: 0px auto;
    font-size: 1rem;
    overflow: hidden; }
  .section-actividades__resort-banner1 {
    width: 88vw;
    height: 52vh; }
  .section-actividades__resortcardr-item {
    margin-bottom: 2rem; }
  .section-actividades__excursiones-banner1 {
    width: 88vw;
    height: 52vh; }
  .section-actividades__excursiones-card {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    align-items: center; }
  .section-actividades__resort {
    margin-top: -4rem; }
  .section-actividades__excursiones {
    margin-top: -4rem; }
  .banner__info {
    margin-bottom: 46px; }
  .btn__l {
    text-decoration: none;
    margin-left: 0rem;
    padding: 3px 8px;
    background: #ff0d5d;
    border-radius: 30px;
    color: whitesmoke; }
  .contenedor__p {
    text-align: initial;
    padding: 1rem; }
  .excursiones__card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 0rem; }
  /*------------------------contactos-------------------------*/
  .section-contactos__form {
    width: 70%;
    max-width: 366px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .section-contactos__titulos {
    font-size: 1.5rem;
    margin: 2rem;
    margin-bottom: 1rem; }
  .section-contactos__maps {
    padding: 1rem; }
  .section-contactos__h1 {
    margin: 2rem;
    padding: 1rem;
    font-size: 1.5rem; }
  .section-contactos__consultas {
    font-size: 0.5rem;
    margin: 0;
    padding: 0; }
  .img-fluid {
    max-width: 100%;
    height: 150px; }
  .section-contactos__pregunta {
    font-size: 1rem; }
  .section-contactos__ul {
    list-style: none;
    padding: 0;
    font-size: 0.8rem; }
  /*------------------------vuelo-----------------------------*/
  .main__vuelos {
    font-size: 1rem; }
  .section-vuelos__banner1 {
    width: 88vw;
    height: 52vh; }
  .section-vuelos__gallery {
    padding-top: 0px; }
  .section-vuelos__form {
    padding: 0px; }
  /*------------------------alojamiento-----------------------*/
  .section-aloja__gallery {
    padding-top: 18px; }
  .section-aloja__banner1 {
    width: 88vw;
    height: 52vh; }
  .section-aloja__info {
    font-size: 0.5rem;
    margin: 0rem;
    background-color: #cfcbcb;
    border-radius: 3rem; }
  .section-aloja__gallery-title {
    font-size: calc(1rem + .2vw); } }
