/*-------reset------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*---------------------index style-----------------------*/
body{
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    overflow-x:hidden;
}
.info{
    background-color: black;
    color: #fff;
    padding: 15px;
    text-align: center;
}
/*------------------------portada------------------------*/
.header{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bannerp.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.line{
    width: 150px;
    height: 4px;
    background: rgb(255, 13, 93);
    margin: 10px auto;
    border-radius: 5px;
}
.btn__l{
    text-decoration: none;
    padding: 8px 15px;
    background: rgb(255, 13, 93);
    border-radius: 30px;
    color: whitesmoke;

}
/*-------------------seccion/eventos--------------------*/
.eventos{
    width: 80%;
    margin: 80px auto;
}
.titulos{
    text-align: center;
    font-size: 4vmin;
    color:#667183;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.eventos__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.eventos__item .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.eventos .eventos__item {
margin-top: 50px;
}
.eventos__subtitulos{
    margin-top: 3vmin;
    color: #667183;
    margin: 20px auto;
}
.eventos__p{
    color: #667183;
    padding: 0px 40px;
}
.responsive-img {
    width: 100%;
    height: auto;
}
.eventos_p {
    margin: 1rem;
}
/*-----------------------footer---------------------------*/
.footer{
    font-size: 0.8rem;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0%;
    margin-top: auto; 
}
.footer__texto-pie{
    margin-top: 0;
    margin-bottom: 0rem;
    
}
.footer__p{
    margin-top: 0;
}
.redes__item{
    width: 20px;
    margin: 2px;
}
.redes:hover{
    color: black;
}
/*------------parametros de las vistas-----------------*/
h2.contenedor__subtitulo {
    margin-top: 2rem;
}
.contenedor__p{
    text-align: justify;
    padding: 2rem;
}
.banner__info{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.banner__subtitulo{
    font-size: 4vmin;
}
.banner__titulo{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
/*--------------------vistas style ---------------------*/

.main__actividades {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    overflow-x: hidden;
    width: 90%;
    margin: 80px auto;
}

.nadar__banner1{
    width: 88vw;
    height: 110vh;
    background-image: url(../img/banner-nadar.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.excursiones__banner1{
    width: 88vw;
    height: 110vh;
    background-image: url(../img/banner_sendero.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.list__piscina {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    margin-top: 2rem;
}
.list__piscina-item{
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    background-color: rgb(221, 213, 213);
    border-radius: 4rem;
    margin: 7rem;
}
.textcard {
    display: flex;
    justify-content: space-between;
}
.excursiones__card{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
}
/*------------------------------------------------------*/

.main__aloja {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    color: black;
    overflow-x: hidden;
    width: 90%;
    margin: 10px auto;
}
.aloja__banner1{
    width: 88vw;
    height: 110vh;
    background-image: url(../img/bannerhotel2.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.gallery-contenedor {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 257px;
    padding: 8px;
    padding-top: 6rem;
    gap: 5px;
}
.gallery__item{
    position: relative;
}
.gallery__title{
    position: absolute;
    bottom: 0;
    color: #fff;
    background: linear-gradient(rgb(255, 255, 255,0),rgb(91, 91, 91));
    width: 100%;
    margin: 0;
    padding: 10px;
}
.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item:nth-child(4){
    grid-column-start: span 2;
}
.gallery__item:nth-child(9){
    grid-column-start: span 3;
}
.alojamiento__info{
    font-size: 1rem;
    background-color: rgb(207, 203, 203);
    border-radius: 3rem;
}
/*------------------------------------------------------*/

.main__vuelos {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    font-size: 1rem;
    text-align: center;
    font-weight: bolder;
    color: black;
    overflow: hidden;
    width: 90%;
    margin: 10px auto;
}
.vuelos__banner1{
    width: 88vw;
    height: 110vh;
    background-image: url(../img/vuelosbanner2.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.form__vuelos {
    padding: 2rem;
}
.card__vuelos{
    display: flex;
    justify-content: space-evenly;
}
.vuelos__parrafo {
    padding: 2rem;
    font-size: 1.2rem;
}
.videos__responsive{
    padding: 10rem;
    padding-top: 1rem;
}
element.style {
    margin-bottom: 4rem;
}
.subtitulo__vuelos{
    font-size: 1.75rem;
    margin: 4rem;
}
/*-------------------------------------------------*/
.main__contactos{
    font-family: 'Raleway', sans-serif;
    background-image: url(../img/contactos.jpg);
    background-attachment:fixed;
    background-size:cover;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    font-size: 1rem;
    text-align:center;
    font-weight:bolder;
    color: #fff;
    overflow-x: hidden;

}
a.li__consultas {
    text-decoration: none;
    color: white;
}
.ul__consultas :hover{
    color: black;
}
.div__consultas {
    display: flex;
    justify-content: space-evenly;
    margin: 4rem;
}

ul.ul__consultas {
    list-style: none;
    padding-top: 8rem;
}
.pregunta{
    color: black;
    font-weight:bolder;
    font-size: 2rem;
}
.maps{
    border-radius: 15px;
    width: 700px;
    height: 350px;
}
.form-control{
    width: 500px;
}
.form{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
}
.footer__Texto{
    margin-top: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}
.titulos-contactos{
    text-align: center;
    font-size: 4vmin;
    color:whitesmoke;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
/*fin*/

/*--------------------------------------------------------------media queries------------------------------------------------------/*/
@media screen and (max-width:1025px) {
/*--------------------media queries/index--------------------*/

/*--------------------media queries/Actividades--------------*/
.list__piscina {
    display: flex;
    margin: 3rem;
    justify-content: space-around;
}
.card {
    margin: 1rem;
}
/*--------------------media queries/alojamiento--------------*/
/*--------------------media queries/vuelo--------------------*/
/*--------------------media queries/contactos----------------*/
}
/*--------------------------------------------------------------media queries------------------------------------------------------/*/
@media screen and (max-width:769px) {
/*--------------------media queries/index--------------------*/

/*--------------------media queries/Actividades--------------*/


/*--------------------media queries/alojamiento--------------*/



/*--------------------media queries/vuelo--------------------*/
    .card__vuelos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form__vuelos {
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .calendario {
        padding: 4rem;
    }
    element.style {
        padding-bottom: 1rem;
    }
    .card__destinos {
        margin-bottom: 5rem;
    }
/*--------------------media queries/contactos----------------*/
}
/*--------------------------------------------------------------media queries------------------------------------------------------/*/
@media screen and (max-width:426px) {
/*--------------------media queries/index--------------------*/


/*--------------------media queries/Actividades--------------*/
.main__actividades{
    width: 90%;
    margin: 3px auto;
}
.textcard {
    display: flex;
    margin-bottom: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list__piscina {
    display: flex;
    margin: 0rem;
    flex-direction: column;
    align-items: center;
}

.banner__titulo {
    font-size: 6vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.excursiones__card {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
    flex-direction: column;
}
/*--------------------media queries/alojamiento--------------*/
    .h2, h2 {
        font-size: calc(1rem + .9vw);
    }


/*--------------------media queries/vuelo--------------------*/
.videos__responsive {
    padding: 2rem;
    padding-top: 1rem;
}
.form__vuelos {
    margin-top: -7rem;
}

/*--------------------media queries/contactos----------------*/
    .contacto__subtitulo{
        margin: 2rem;
        padding: 1rem;
        font-size: 2rem;
    }
    .div__consultas {
        display: flex;
        margin: 4rem;
        flex-direction: column;
    }
    .form {
        width: 100%;
        max-width: 387px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form-control {
        width: 363px;
    }
    .maps {
        border-radius: 15px;
        width: 405px;
        height: 272px;
    }
    ul.ul__consultas {
        list-style: none;
        padding-top: 1rem;
    }

}


/*--------------------------------------------------------------media queries------------------------------------------------------/*/
@media screen and (max-width:321px){
/*--------------------media queries 320px/index--------------------*/
main{
    font-size: 0.5rem;
}
.header {
    width: 100vw;
    height: 80vh;
}
.banner__titulo {
    font-size: 5vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
/*--------------------media queries 320px/Actividades--------------------*/
.main__actividades {
    width: 90%;
    margin: 25px auto;
    font-size: 0.5rem;
    overflow: hidden;
}
.nadar__banner1 {
    width: 88vw;
    height: 52vh;
}
.excursiones__banner1 {
    width: 88vw;
    height: 52vh;
}
.banner__info {
    margin-bottom: 46px;
}
.btn__l {
    text-decoration: none;
    margin-left: 0rem;
    padding: 3px 8px;
    background: rgb(255, 13, 93);
    border-radius: 30px;
    color: whitesmoke;
}
.contenedor__p {
    text-align: justify;
    padding: 1rem;
}

.excursiones__card {
    display: flex;
    justify-content: center;
    margin: -5rem;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
}

/*--------------------media queries 320px/contactos--------------------*/
.form {
    width: 70%;
    max-width: 366px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1.contactos__titulos {
    font-size: 1.5rem;
    margin: 4rem;
    margin-bottom: 1rem;
}
.maps {
    border-radius: 16px;
    width: 285px;
    height: 185px;
}
/*--------------------media queries 320px/vuelos--------------------*/
.main__vuelos{
    font-size: 0.5rem;
}
.vuelos__banner1{
    width: 88vw;
    height: 52vh;
}
.gallery-contenedor {
    padding-top: 0px;
}
.form__vuelos {
    padding: 0px;
}
/*--------------------media queries 320px /aloja--------------------*/
.gallery-contenedor {
    padding-top: 18px;
}
.aloja__banner1{
    width: 88vw;
    height: 52vh;
}
.alojamiento__info {
    font-size: 0.5rem;
    margin: 0rem;
    background-color: rgb(207, 203, 203);
    border-radius: 3rem;
}
}
