.main__actividades{
    font-family: 'Raleway', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
    color: black;
    overflow-x: hidden;
    width: 90%;
    margin: 80px auto;
}