/*-----------------ALOJAMIENTO/estilos-----------------*/
.main__aloja {
    font-family: 'Raleway', sans-serif;
    background-color:#fff;
    color:#000;
    overflow-x: hidden;
    width: $width;
    margin:$margin-2;
}