/*-----------------ACTIVIDADES/estilos-----------------*/
.main__actividades{
    font-family: 'Raleway', sans-serif;
    background-color:#fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    color: #000;
    overflow-x: hidden;
    width: $width;
    margin: $margin;
}