/*--------------------navegacion------------------------*/
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: $navbar-background;
    padding: 0px;

    &-expand-lg.bg-body-tertiary {
        background-color: transparent !important; }
    
    .nav-link {
        --bs-nav-link-color: #fff; }

    &-brand {
    color: $navbar-color;
    font-size: 4vmin;
    padding-right: 4rem;}

    &-brand:hover {
        color: $navbar-hover; }
    
    .nav-link:hover {
        color: #821539; }
    
    &-nav .nav-link.active, .navbar-nav .show > .nav-link {
        color: $nav-link-active; }
    
    &-toggler {
        color: #343a40;
        background-color: #b02a37;
        border: var(--bs-border-width) solid #000000; }
}