/*-------------------Index/eventos---------------------*/
.section {
    width: 80%;
    margin: 80px auto;
    &__titulos {
        text-align: center;
        font-size: $titulo-size;
        color: $titulo-color;
        margin-bottom: 2rem;
        margin-top: 2rem; }
    
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 50px; }
    
    &__col {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem; }
    
    &__h4 {
        color: $titulo-color;
        margin: 20px auto;
        font-size: 2rem;
        font-weight: bold; }
    
    &__ph4 {
        color: #000;
        padding: 1rem;
        font-size: 1rem; }
}
