/*-----------------Utilitarios-------------------*/
.contenedor__p {
    text-align: initial;
    padding: 2rem;
    font-weight: bolder;
    font-size: $parrafo-size; }

.banner__info {
    margin-bottom: 150px;
    color: #fff;
    text-align: center; }

.banner__subtitulo {
    font-size: 4vmin; }

.banner__titulo {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px; }

.titulos {
    text-align: center;
    font-size: 4vmin;
    color: #000;
    margin-bottom: 2rem;
    margin-top: 2rem; }

.line {
    width: 150px;
    height: 4px;
    background:$btn-line;
    margin: 10px auto;
    border-radius: 5px; }
.btn__l {
    text-decoration: none;
    padding: 8px 15px;
    background: $btn1-color;
    border-radius: 30px;
    color: $btn1-letra-color; }
.responsive-img {
    width: 100%;
    height: auto;}