//variables/titulos de bloque
$titulo-color:#667183;
$titulo-size: 5vmin;

//variables/ propiedades de la caja
$width: 90%;
$margin: 80px auto;
$margin-2: 10px auto;


//variables/ Navbar
$navbar-background: #212529;
$navbar-color: #fff;
$navbar-hover: #ff0d5d;
$nav-link-active: #ff0d5d;

//variables/tamaño de letra de los parrafos
$parrafo-size: 1.5rem;

//variables/diseño del boton
$btn1-color:  #ff0d5d;
$btn1-letra-color:#fff;
$btn-line:  #ff0d5d;

//variables/ de bloque

$aloja-info: #64606066;

$footer-color:#000;
$footer-letra-color:#fff;

$body-info-color:#000;
$body-info-color1:#fff;



//-------------------------------------
:root{
     /* Paleta de colores */
    color: #000;
    color: #343a40;
    color:#64606066;
    color: #fff;
    color: #ff0d5d;
    color: #821539;
    color: #b02a37;
    color: #667183;
}
